<h1>{{localize "PF1.Help.Content.Items.ScriptCalls.Label"}}</h1>

<p>{{localize "PF1.Help.Content.Items.ScriptCalls.Desc.Basic"}}</p>

<h2>{{localize "PF1.Help.Content.Items.ScriptCalls.Macros.Label"}}</h2>

<p>{{localize "PF1.Help.Content.Items.ScriptCalls.Macros.Desc.Basic"}}</p>

<h2>{{localize "PF1.Help.Content.Items.ScriptCalls.Variables.Label"}}</h2>

<p>{{localize "PF1.Help.Content.Items.ScriptCalls.Variables.Desc.Basic"}}</p>

<table>
  <thead>
    <tr>
      <th>{{localize "PF1.Name"}}</th>
      <th>{{localize "PF1.Description"}}</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><code>item</code></td>
      <td>{{{localize "PF1.Help.Content.Items.ScriptCalls.Variables.List.Item.Desc"}}}</td>
    </tr>
  
    <tdr>
      <td><code>actor</code></td>
      <td>{{{localize "PF1.Help.Content.Items.ScriptCalls.Variables.List.Actor.Desc"}}}</td>
    </tr>

    <tr>
      <td><code>shared</code></td>
      <td>{{{localize "PF1.Help.Content.Items.ScriptCalls.Variables.List.Shared.Desc"}}}</td>
    </tr>
  </tbody>
</table>

<h2>{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.Label"}}</h2>

<h3>{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.Use.Name"}}</h3>

<p>{{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.Use.Desc.Basic"}}}</p>

<h3>{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.Equip.Name"}}</h3>

<p>{{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.Equip.Desc.Basic" var1="equipped"}}}</p>

<h3>{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.Toggle.Name"}}</h3>

<p>{{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.Toggle.Desc.Basic" var1="state"}}}</p>

<h3>{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.ChangeQuantity.Name"}}</h3>

<p>{{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.ChangeQuantity.Desc.Basic" var1="quantity.previous" var2="quantity.new"}}}</p>

<h3>{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.ChangeLevel.Name"}}</h3>

<p>{{{localize "PF1.Help.Content.Items.ScriptCalls.Categories.ChangeLevel.Desc.Basic" var1="level.previous" var2="level.new"}}}</p>